<fieldset>
	<legend>Truck Information</legend>
	<div class="clearfix">
		<%= truck_form.label :name, :class => "xlInput" %>
		<div class="input">
			<%= truck_form.text_field :name, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= truck_form.label :email, :class => "xlInput" %>
		<div class="input">
			<%= truck_form.text_field :email, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= truck_form.label :cuisine, :class => "xlInput" %>
		<div class="input">
			<%= truck_form.text_field :cuisine, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= truck_form.label :description, :class => "xlInput" %>
		<div class="input">
			<%= truck_form.text_area :description, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= truck_form.label :phone, :class => "xlInput" %>
		<div class="input">
			<%= truck_form.text_field :phone, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= truck_form.label :menu, :class => "xlInput" %>
		<div class="input">
			<%= truck_form.text_area :menu, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= truck_form.label :twitter, :class => "xlInput" %>
		<div class="input">
			<%= truck_form.text_field :twitter, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= truck_form.label :facebook, :class => "xlInput" %>
		<div class="input">
			<%= truck_form.text_field :facebook, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= truck_form.label :website, :class => "xlInput" %>
		<div class="input">
			<%= truck_form.text_field :website, :class => "xlarge" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= truck_form.label :yelp, :class => "xlInput" %>
		<div class="input">
			<%= truck_form.text_field :yelp, :class => "xlarge" %>
		</div>
	</div>
	



</fieldset>