<h1>All Trucks</h1>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Cuisine</th>
			<th>Description</th>
			<th>Menu</th>
			<th>Twitter</th>
			<th>Facebook</th>
			<th>Website</th>
			<th>Yelp</th>
		</tr>
	</thead>
<% @trucks.each do |truck| %>
	<tr>
		<td><%= link_to truck.name, edit_truck_path(truck) %></td>
		<td><%= truck.email %></td>
		<td><%= truck.cuisine %></td>
		<td><%= simple_format(truck.description) %></td>
		
		<td>
			<ul>
				<% truck.menu_items.each do |menu_item| %>
				<li><strong><%= link_to menu_item.name, edit_menu_item_path(menu_item) %></strong> (<%= menu_item.price %>) - <%= simple_format(menu_item.description) %></li>
			
				<% end %>
				<li><%= link_to 'Add', new_menu_item_path %></li>
			</ul>
		</td>
		
		<td><%= truck.twitter %></td>
		<td><%= truck.facebook %></td>
		<td><%= truck.website %></td>
		<td><%= truck.yelp %></td>
	</tr>
<% end %>

</table>