<h1>MenuItems index</h1>
<p>Create a new menu item <%= link_to 'here', new_menu_item_path %>.</p>
<% @menu_items.each do |menu_item| %>
	<%= link_to menu_item.name, edit_menu_item_path(menu_item) %> - <%= menu_item.description %> - <%= menu_item.price %> - <%= menu_item.truck.name %><br />
<% end %>
